body {
    background-color: black;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixi-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: grey;
    border-width: 8px;
    border-style: solid;
}


.logo {
    width: 20%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}